*{
  font-family: 'Poppins';
}

header{
  display: flex;
  flex-direction: column;
  background-color: chocolate;
  margin: 0px;
  padding: 0px;
  padding: 0;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
body{
  background-color: aqua;
}

/* O CSS é um estilo em cascata */